pipeline/Full Load Pipeline.json
{
	"name": "Full Load Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Find tables to be fully Loaded in Target",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Full Load Pipeline Start Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "Select * from Stats.DW_ETl_Load where Load_Type='F'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DB2Connection_another",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Find tables to be fully Loaded in Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Find tables to be fully Loaded in Target').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Full Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "truncate Dest Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlPoolSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DB2Connection",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().Staging_Schema_Name",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Staging_Object_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DB2Connection",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().Target_Schema_Name",
											"type": "Expression"
										},
										"TableName": "@item().Target_Object_name"
									}
								}
							]
						},
						{
							"name": "truncate Dest Tables",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update Process Start Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "DB2",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[stats].[USP_Truncate_Staging_Table]",
								"storedProcedureParameters": {
									"Staging_Schema": {
										"value": {
											"value": "@item().Target_Schema_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"staging_table_name": {
										"value": {
											"value": "@item().Target_Object_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Update Process Start Time",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "DB2",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[stats].[DW_Load_on_Start]",
								"storedProcedureParameters": {
									"datasource": {
										"value": {
											"value": "@pipeline().parameters.Datasourcename",
											"type": "Expression"
										},
										"type": "String"
									},
									"processName": {
										"value": {
											"value": "@item().target_object_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "RUNNING",
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Update End Date and Status on Success",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Full Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "DB2",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[stats].[DW_Load_onSuccess]",
								"storedProcedureParameters": {
									"datasource": {
										"value": {
											"value": "@pipeline().parameters.Datasourcename",
											"type": "Expression"
										},
										"type": "String"
									},
									"processName": {
										"value": {
											"value": "@item().target_object_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "SUCCESS",
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Update End Date and Status on Failure",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Full Load",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "truncate Dest Tables",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Update Process Start Time",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "DB2",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[stats].[DW_Load_OnFailure]",
								"storedProcedureParameters": {
									"datasource": {
										"value": {
											"value": "@pipeline().parameters.Datasourcename",
											"type": "Expression"
										},
										"type": "String"
									},
									"Error_msg": {
										"value": "Pipeline Failed Due to an error",
										"type": "String"
									},
									"processName": {
										"value": {
											"value": "@item().target_object_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "FAILED",
										"type": "String"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Update Full Load Pipeline Start Date",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Insert Record in ETL Execution History Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[USP_Update_Pipeline_Start_Dates]",
					"storedProcedureParameters": {
						"DataSourceName": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_triggered_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				}
			},
			{
				"name": "Update Full Load Pipeline End Date",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[USP_Update_Pipeline_OnSuccess]",
					"storedProcedureParameters": {
						"DataSourceName": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Update Full Load Pipeline End date and failed status",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Find tables to be fully Loaded in Target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[USP_Update_Pipeline_OnFailure]",
					"storedProcedureParameters": {
						"DataSourceName": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Insert Record in ETL Execution History Table",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[Insert_Child_ETL_History]",
					"storedProcedureParameters": {
						"datasourcename": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"master_pipeline_runID": {
							"value": {
								"value": "@pipeline().parameters.Master_Pipeline_RunID",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Update ETL execution history on success",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[Update_CHILD_ETL_History]",
					"storedProcedureParameters": {
						"datasourcename": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"master_pipeline_runID": {
							"value": {
								"value": "@pipeline().parameters.Master_Pipeline_RunID",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Update ETL execution history on Failure",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Find tables to be fully Loaded in Target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "DB2",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[stats].[Update_CHILD_ETL_History]",
					"storedProcedureParameters": {
						"datasourcename": {
							"value": {
								"value": "@pipeline().parameters.Datasourcename",
								"type": "Expression"
							},
							"type": "String"
						},
						"master_pipeline_runID": {
							"value": {
								"value": "@pipeline().parameters.Master_Pipeline_RunID",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "FAILED",
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"Datasourcename": {
				"type": "string"
			},
			"Master_Pipeline_RunID": {
				"type": "string"
			}
		},
		"annotations": []
	}
}