pipeline/Source to Staging Load.json
{
	"name": "Source to Staging Load",
	"properties": {
		"activities": [
			{
				"name": "Find Objects need to be load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[stats].[usp_object_list_to_load]",
						"storedProcedureParameters": {
							"DataSourceName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DataSourcename",
									"type": "Expression"
								}
							},
							"Load_Type": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Load_Type",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DB2Connection_another",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Find Objects need to be load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Find Objects need to be load').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"sqlReaderQuery": {
										"value": "@item().SQL_Query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlPoolSink",
									"writeBehavior": "Insert",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "FirstDBconnection",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DB2Connection",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().Staging_Schema_Name",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Staging_Object_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DataSourcename": {
				"type": "string"
			},
			"Load_Type": {
				"type": "string"
			},
			"BatchID": {
				"type": "string"
			}
		},
		"annotations": []
	}
}